/* *{
    margin: 0px;
    padding: 0px;
} */

body>div{
    position        : relative;
    height          : 600px;
    width           : 900px;
    background-color: white;
}

body>div>div.box{
    height          : 100%;
    width           : 300px;
    background-color: green;
}

#box2{
    position: absolute;
    top : 0px;
    left    : 600px;
    z-index : 5;
}